footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    color: black;
}